<div class="card mb-5">
  <img
    src="https://media.licdn.com/dms/image/C4D1BAQGTeGXjtfMPGw/company-background_10000/0/1646770567689?e=1691200800&v=beta&t=0ke6MvVbdSIxd2hYit6LwWW0uDcZprpiHnAW8YaIli0"
    class="card-img-top building-img"
    alt="goldman sachs building"
  />
  <img
    src="https://media.licdn.com/dms/image/C4E0BAQHm5bYK6emQSg/company-logo_200_200/0/1595518030728?e=1698883200&v=beta&t=sT2epApQXsZ-yfjtw5e-cWs3NYYfxBQZbb2YUXtIWvg"
    class="company-logo border border-white border-4 ms-4"
    alt="goldman sachs logo"
  />
  <p class="display-4 ms-4">Goldman Sachs</p>
  <p class="p ms-4">
    Financial Services - New York, New York - 3,99,200 followers - 58,312
    employees
  </p>

  <ul class="nav nav-underline ms-4">
    <li class="nav-item">
      <a class="nav-link text-secondary" aria-current="page" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-secondary active" href="#">People</a>
    </li>
  </ul>
</div>
