<div class="container" *ngIf="!(loading$ | async); else spinner">
  <div class="row gy-3 gx-3">
    <div
      class="col col-xxl-3 col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-6"
      *ngFor="let user of users$ | async"
    >
      <div class="card">
        <img
          [src]="
            user.avatar
              ? getImageUrl(user.avatar)
              : 'https://www.ommel.fi/content/uploads/2019/03/dummy-profile-image-female.jpg'
          "
          alt="user image"
          class="card-img-top avatar"
        />
        <p class="card-text">{{ user.firstName }} - {{ user.lastName }}</p>
        <p class="card-text">{{ user.email }}</p>
        <p class="card-text">{{ user.id }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #spinner>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
